<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.cast.turmaformacao.taskmanager">

    <application
        android:name=".TaskManagerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".controllers.activities.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".controllers.activities.TaskListActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".controllers.activities.TaskFormActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".controllers.activities.LabelFormActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".controllers.activities.MainActivity"
            android:label="@string/app_name" />
    </application>

</manifest>
